@typeparam TItem
@typeparam TValue

<div class="row dual-list-box-container">
    <div class="col-sm-5">
        <RadzenListBox @ref="LeftControl"
                       TValue="EnumerableQuery<TValue>"
                       Data="RemainingData"
                       TextProperty="@TextProperty"
                       ValueProperty="@ValueProperty"
                       Multiple="true"
                       Style="height:200px; width: 100%;">
        </RadzenListBox>
    </div>
    <div class="col-sm-2 move-role-btn-group">
        <RadzenButton Id="main_Grid_Search" Click="@MoveRight" CssClass="move-role-btn">
             ADD <i class="fa fa-arrow-right"></i>
        </RadzenButton>      

        <RadzenButton Id="main_Grid_Search" Click="@MoveLeft" CssClass="move-role-btn">
            <i class="fa fa-arrow-left"></i> REMOVE
        </RadzenButton>        
    </div>
    <div class="col-sm-5">
        <RadzenListBox @ref="RightControl"
                       TValue="EnumerableQuery<TValue>"
                       Data="SelectedData"
                       TextProperty="@TextProperty"
                       ValueProperty="@ValueProperty"
                       Multiple="true"
                       Style="height:200px; width: 100%;">
        </RadzenListBox>
    </div>
</div>



