@inherits RadioListFilter
@typeparam TOutputValue

<div class="form-group col-sm-4">
    <div class="filter-label">
        <RadzenLabel Text="@FilterOptions.Label" Component="@Name"></RadzenLabel>
        @if (Value != null)
        {
            <RadzenButton Id="main_Grid_Search" Click="@ResetToDefault" ButtonType="ButtonType.Button">
                 Clear
            </RadzenButton> 
        }
    </div>
    <RadzenRadioButtonList TValue="TOutputValue"
                           Value="this.Value"
                           Name="@Name"
                           Data="@this.ListData"
                           TextProperty="Display"
                           ValueProperty="Value"
                           Change="OnSelectionChanged" />
</div>
