@inherits TextboxFilter
@typeparam TOutputValue

<div class="form-group col-sm-6">
    <div class="filter-label">
        <RadzenLabel Text="@FilterOptions.Label" Component="@(InstanceId + "_textbox")"></RadzenLabel>
        @if (Value != null)
        {
            <ButtonComponent ButtonType="@BsButtonType.Link" ParentMethod="@ResetToDefault">
                Clear
            </ButtonComponent>
        }
    </div>
    <RadzenTextBox Name="@(InstanceId + "_textbox")" Change="ValueChanged" Value="@(Value as string)" class="form-control" />
</div>
