@using RenderFragment = Microsoft.AspNetCore.Components.RenderFragment
@inherits BaseRazorComponent

<button type="@HtmlButtonType"
        id="@Id"
        class="btn @ButtonTypeClass @CssClass"
        @onclick="InvokeParentMethod"
        disabled="@Disabled"
        @onclick:preventDefault="@(HtmlButtonType != HtmlButtonType.Submit)">
    @if (Loading && (ButtonType != BsButtonType.Link || RenderSpinnerOnLoad))
    {
        <div class="spinner-border" role="status">
            @* <span class="sr-only">@Localizer.GetText("Loading")...</span> *@
            <span class="sr-only">Loading...</span>
        </div>
    }
    else if (Loading && ButtonType == BsButtonType.Link)
    {
        @*($"{Localizer.GetText("Loading")}...")*@
        @("Loading...")
    }
    else
    {
        @ChildContent
    }
</button>


